#/bin/sh

export POSTGRES_URI=postgres://postgres:postgres@127.0.0.1/postgres?sslmode=disable
export GOOSE_DBSTRING=$POSTGRES_URI
export GOOSE_MIGRATION_DIR=sql/schema
export GOOSE_DRIVER=postgres
export BITCOIN_NODE_URI=http://127.0.0.1:48332
export BITCOIN_NODE_USER=test
export BITCOIN_NODE_PASSWORD=test
export SPACES_NODE_URI=http://127.0.0.1:7224
export UPDATE_DB_INTERVAL=300
export ACTIVATION_BLOCK_HEIGHT=38580 #testnet4
# export ACTIVATION_BLOCK_HEIGHT=871222 #mainnet
